@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap%27')

* {
    margin: 0;
    padding: 0;
}
  

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    background-size: cover;
} 

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}


.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #E9A89B;
    text-decoration: none;
}

.titulo-destaque {
    color: #FFEBB2;
}

.apresentacao {
    margin: 8% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 82px;
}

.apresentacao__conteudo {    
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {    
    font-size: 2.25rem;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family:  "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    gap: 5px;     
}

.apresentacao__links__subtitulo {
    font-family: "Montserrat", sans-serif;
    font-weight: 410;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 10px;
    color: #000000;
    background-color: #FFF2E1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}


@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column;
    }
}
    